<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--PRD-->
    <add name="DefaultConnection" connectionString="Server=192.168.1.10;Database=data02;Uid=root;Pwd=zx-+10as;" />
    
    <!--QAS-->
    <!--<add name="DefaultConnection" connectionString="Server=208.115.213.75;Database=agrovado_qa;Uid=agrouser;Pwd=@groUs3r_;" />-->
    
    <!--LOCAL QAS-->
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Database=data_qas;Uid=slotuser;Pwd=5l0tUs3r_;" />-->

    <!--LOCAL DEV-->
    <!--<add name="DefaultConnection" connectionString="Server=localhost;Database=data02;Uid=slotuser;Pwd=5l0tUs3r_;" />-->
  </connectionStrings>
  <appSettings>
    <!--PRD-->
    <add key="PathIniFile" value="J:\SSF-NET\ssf-net.ini" />
    <add key="ApiHostUrl" value="https://prd.slotcore.com/" />
    
    <!--QAS-->
    <!--<add key="PathIniFile" value="C:\SSF-NET\ssf-net-cloud-dev.ini" />
    <add key="ApiHostUrl" value="https://ssf-qas.slotcore.com/" />-->
    
    <!--QAS-LOCAL-->
    <!--<add key="PathIniFile" value="C:\SSF-NET\ssf-net-qas.ini" />
    <add key="ApiHostUrl" value="https://ssf-qas.slotcore.com/" />-->

    <!--LOCAL DEV-->
    <!--<add key="PathIniFile" value="C:\SSF-NET\ssf-net-dev.ini" />
    <add key="ApiHostUrl" value="https://ssf-qas.slotcore.com/" />-->
    
    
    <add key="ServiceInterval" value="60000"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
