/*table {
     border: 1px solid #F1760A;
     border-collapse: separate;
     border-spacing: 0px;
     width: 800px;
     height: auto;
     color: rgba(0, 0, 0, 0.995);
     text-align: center;
}

th {
     border: 0px solid white;
     font-size: larger;
     padding: 1px;
     height: 35px;
     font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

td {
     border: 0px;
     padding: 1px;
     height: 25px;
}

thead, tfoot {
     background-color: #F7C59A;
     color: #31377E;
     font: ;
     text-shadow:0;
     font: small Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

tr.color {
     background-color: #BED7FB;
}

tr.coloralter {
     background-color: #F8E4D0;
}

caption {
     color: #000000;
     font-size: larger;
     padding: 5px;
     font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
     background-color: #C9CADB;
}*/

/* Curso JavaScript estilos aprenderaprogramar.com*/
/*body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #FFF8DC;
}*/
 
table { 
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; 
    font-size: 9px; 
    /*margin: 45px;*/ 
    width: 800px;
    text-align: center; 
    border-collapse: collapse; 

}
 
th { 
    font-size: 10px; 
    font-weight: normal; 
    padding: 1px; 
    background: #b9c9fe; 
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff; 
    color: #039; 
    
}
 
td { 
    padding: 1px; 
    background: #e8edff; 
    border-bottom: 1px solid #fff; 
    color: #669; 
    border-top: 1px solid transparent; 
    height:25px;
}
 
tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}
 
.editar {
    color: blue; 
    cursor:pointer;
}
 
/*#contenedorForm {
    margin-left: 45px; 
    font-size:12px;
}*/
 
.boton {   
    color: black; 
    padding: 5px; 
    margin: 10px;
    background-color: #b9c9fe;
    font-weight: bold; 
}